@import '../../sass/structure/reset';
@import '../../sass/utils/mixins';

.nav_list{
    display: flex;
    gap: 50px;
    color: #FF6060;
    font-size: clamp(12px, 2.5vw, 24px);
    @media screen and (max-width: 700px){
        gap: 20px;
    }
    &_item{
        &_active{
            position: relative;
            color: #FF6060;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid #FF6060;
            
        }
    }
}
