@import '../../sass/primary';
@import '../../sass/utils/mixins';
@import '../../sass/structure/reset';

.about_main {
    margin: 0 auto;
    width: 95%;

    &_collapse{
        width: 95%;
        margin: 40px auto;
        @media screen and (max-width: 550px){
            margin: 20px auto;
        }
    }
}
