@import '../../sass/primary.scss';

.banner {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    height: 223px;
    max-width: 95%;
    margin: 43px auto;
    text-align: center;
    display: block;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    p {
        color: $color-primary;
        font-size: clamp(20px, 4vw, 48px);
        font-weight: 500;
        position: absolute;
        top: 40%;
        width: 100%;
        z-index: 1;
    }
}
