@import '../../sass/primary.scss';

.banner{
	position: relative;
	border-radius: 25px;
	overflow: hidden;
	height: 223px;
	max-width: 95%;
	margin: 43px auto;
	text-align: center;
	display: block;
	
	p {
		color: $color-primary;
		font-size: clamp(20px, 4vw, 48px);
		font-weight: 500;
		position: absolute;
		top: 40%;
		width: 100%;
	}
}

