@import '../../sass/primary.scss';

.Lodging {
    &_content {
        @include flex(column, flex-start, flex-start);
        color: $color-secondary;
        width: 90%;
        margin: 0 auto;
        @media screen and (max-width: 375px){
            @include flex(column, space-between, flex-start);   
            gap: 10px;
            width: 90%;
        }

        &_infos {
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 36px;
            @media screen and (max-width: 575px) {
                font-size: 18px;
                font-weight: 500;
            }
            @media screen and (max-width: 375px) {
                font-size: 18px;
                font-weight: 500;
            }

            &_location {
                display: flex;
            		flex-direction: column;
            		gap: 10px;
            		font-weight: 500;
            		font-size: 14px;
            }

            &_tagbutton {
                display: flex;
                display: inline;
                font-size: 14px;
                padding: 5px 15px;
                margin: 20px 10px 0 0;
                width: fit-content;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                @media screen and (max-width: 575px) {
                    font-size: 10px;
                    max-width: 30%;
                    text-align: center;
                }
                @media screen and (max-width: 375px) {
                    font-size: 10px;
                    max-width: 30%;
                    text-align: center;
                }
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            
            }
        }

        &_host {
            @include flex(row, flex-end, center);
            gap: 10px;
            margin-bottom: 20px;
            @media screen and (max-width: 575px){
                width: 100%;
                @include flex(row, center); 
                gap: 0 5px;      
            }
            @media screen and (max-width: 375px){
                width: 100%;
                @include flex(row, center); 
                gap: 0 5px;      
            }

            &_name {
							word-spacing: 9999px;
							text-align: right;
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            }

            &_stars {
                display: flex;
                gap: 5px;
                justify-content: flex-end;
                @media screen and (max-width: 575px){
                    width: 20px;
                    height: 20px;  
                    justify-content: left;
                }
                @media screen and (max-width: 375px){
                    width: 20px;
                    height: 20px;  
                    justify-content: left;
                }
            }
        }

        .duobox {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 50px;

            .duobox-left {
                width: 47%;
            }
            .duobox-right {
                width: 47%;
            }
            @media screen and (max-width: 575px) {
                .duobox-left {
                    width: 100%;  // add space below this box on small screens
                    margin-bottom: 20px;
                }
                .duobox-right {
                    width: 100%;
                    
                }
            }
            @media screen and (max-width: 375px) {
                .duobox-left {
                    width: 100%;  // add space below this box on small screens
                    margin-bottom: 20px;
                }
                .duobox-right {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 575px) {
	        .duobox-mobile-only {
	            display: flex;
	            width: 100%;
	            flex-direction: row-reverse;
	            justify-content: space-between;
	            flex-wrap: wrap;
	            padding-bottom: 50px;
	            .Lodging_content_host {
	                width: 47%;
	            }
	            .Lodging_content_host_stars {
	                width: 47%;
	            }
	        }
        }
    }
}
