@import '../../sass/primary';
@import '../../sass/utils/mixins';
@import '../../sass/structure/reset';

.Lodging {
    &_content {
        @include flex(column, flex-start, flex-start);
        color: $color-secondary;
        width: 90%;
        margin: 0 auto;

        &_infos {
            &_title {
                font-weight: 500;
                margin-bottom: 10px;
            }

            &_location {
                font-size: 14px;
                margin-bottom: 10px;
            }

            &_tagbutton {
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            
            }
        }

        &_host {
            @include flex(row-reverse, flex-start, center);
            gap: 10px;
            margin-bottom: 20px;

            &_name {
                margin-right: 10px;
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            }

            &_stars {
                display: flex;
                gap: 5px;
                justify-content: end;
            }
        }

        .duobox {
					display: flex;
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					flex-wrap: wrap;
                    padding-bottom: 50px;
                   
					.duobox-left {
						width: 47%;
					}
					.duobox-right {
						width: 47%;
					}
					@media screen and (max-width: 550px) {
						.duobox-left {
							width: 100%;
						}
						.duobox-right {
							width: 100%;
						}
        	}
        }
    }
}
