@import '../../sass/primary';
@import '../../sass/utils/mixins';
@import '../../sass/structure/reset';

.Lodging {
    &_content {
        @include flex(column, flex-start, flex-start);
        color: $color-secondary;
        width: 90%;
        margin: 0 auto;
        @media screen and (max-width: 374px){
            @include flex(column, space-between, flex-start);   
            gap: 10px;   
        }

        &_infos {
            &_title {
                font-weight: 500;
                margin-bottom: 10px;
                font-size: 36px;
            }

            &_location {
                display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            font-size: 14px;
            }

            &_tagbutton {
                display: inline;
                font-size: 14px;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            
            }
        }

        &_host {
            @include flex(row-reverse, flex-start, center);
            gap: 10px;
            margin-bottom: 20px;
            @media screen and (max-width: 374px){
                width: 100%;
                @include flex(row-reverse, space-between, center); 
                gap: 0 5px;      
            }

            &_name {
                align-self: center;
                flex-direction: column;
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                &:hover{
                    box-shadow: 0 2px 8px $color-secondary;
                }
            }

            &_stars {
                display: flex;
                gap: 5px;
                justify-content: end;
                @media screen and (max-width: 374px){
                    width: 20px;
                    height: 20px;  
                }
            }
        }

        .duobox {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 50px;

            .duobox-left {
                width: 47%;
            }
            .duobox-right {
                width: 47%;
            }
            @media screen and (max-width: 374px) {
                .duobox-left {
                    width: 100%;
                    margin-bottom: 20px;  // add space below this box on small screens
                }
                .duobox-right {
                    width: 100%;
                }
            }
        }
    }
}
